# Binaries & Compiled Files
*.exe
*.dll
*.so
*.dylib
architect/bin/
main.exe
architect_proxy.exe

# Go
vendor/
*.test
*.prof
go.work

# Python / Packaging
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
.venv
venv/
ENV/

# Testing & Coverage
.target/
.pytest_cache/
.coverage
.coverage.*
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo
*.sublime-project
*.sublime-workspace

# Project Specific
architect_net.egg-info/
*.log
