# Binaries & Compiled Files
*.exe
*.dll
*.so
*.dylib
architect/bin/
main.exe
architect_proxy.exe

# Go
vendor/
*.test
*.prof

# Python / Packaging
__pycache__/
*.py[cod]
*$py.class
dist/
build/
*.egg-info/
.venv/
venv/
.env
.pypirc

# OS & IDE
.DS_Store
Thumbs.db
.vscode/
.idea/
*.swp
*.swo

# Project Specific
architect_net.egg-info/
